commands:
# Run the installation script
  "00-run-installation-script":
    command: curl -Ls https://download.newrelic.com/install/newrelic-cli/scripts/install.sh | bash && sudo NEW_RELIC_API_KEY=2ccba23cb75d7961d61dafaa5a47dc87FFFFNRAL NEW_RELIC_ACCOUNT_ID=2797263 /usr/local/bin/newrelic install -n dotnet-agent-installer